element {
  --ailen: #00FF66;
  --font: #e9e9e9;
}

.chatWrap {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  height: 700px;
}

.swiper-container {
  flex: 1 1 0;
  margin: 0 15px;
  color: rgb(109, 109, 109);
}

.swiper-container::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 250px;
  background: linear-gradient(to bottom, black 50%, transparent);
  z-index: 9;
}

.swiper-container::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 480px;
  height: 250px;
  background: linear-gradient(to top, black 50%, transparent);
  z-index: 9;
}

.swiper-container .swiper-wrapper {
  width: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  background-color: rgb(32, 28, 28);
  border-radius: 20px;
}

/* + : 다음 요소 선택 */
.swiper-slide-active+div+div {
  background-color: black !important;
  transition: all 0.5s;
  cursor: pointer;
  color: rgb(230, 230, 230);

}

.swiper-slide-active+div {
  pointer-events: none;
}

.swiper-slide-active+div+div+div {
  pointer-events: none;
}

.swiper-slide-active+div+div::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #00FF66;
  transition: all 0.5s;
}

.swiper-slide::after {
  content: '';
  transition: all 0.5s;
}

.swiper-slide-active {
  opacity: 0.6;
}

.swiper-slide:nth-child(1) {
  opacity: 0;
}

.swiper-slide:nth-child(2) {
  opacity: 0;
}

.swiper-slide:nth-last-child(1) {
  opacity: 0;
}

.swiper-slide:nth-last-child(2) {
  opacity: 0;
}

.swiper-slide-active+div+div+div+div {
  opacity: 0.6;
}

.swiper-slide-active+div+div {
  background-color: black !important;
  transition: all 0.5s;
  cursor: pointer;
  color: rgb(230, 230, 230);
}

.swiper-slide-active+div+div .img {
  background-color: aliceblue;
  opacity: 1;
}

.picture {
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.picture .img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: aliceblue;
  opacity: 0.5;
  overflow: hidden;
}

.profile {
  flex: 2 1 0;
}

.profile h2 {
  font-size: 26px;
  margin-top: 8px;
  margin-bottom: 5px;
}

.profile h2 span {
  font-size: 17px;
  margin-left: 12px;
}

.profile h3 {
  font-size: 17px;
  margin: 8px 0;
  font-weight: 40;
}

.profile i {
  position: absolute;
  display: block;
  color: aliceblue !important;
  width: 50px;
  height: 50px;
  z-index: 99;
}

.detailSpace.active {
  flex: 1 1 0;
  margin: 0 15px;
}

.detail {
  display: none;
}

.detail.active {
  display: flex;
  flex: 1 1 0;
  margin: 0 15px;
  border: 2px solid #acacac;
  border-radius: 20px;
}

.detail_content {
  display: none;
}

.detail_content.active {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.imgName {
  display: flex;
  flex: 3 1 0;

}

.imgName .imgNameImg {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
}

.imgName .imgNameImg img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: white;
}

.imgName .imgNameName {
  display: flex;
  flex: 1 1 0;
  align-items: end;
  color: #e6e6e6;
  font-size: 22px;
}

.imgName .imgNameName h4 {
  flex: 1 1 0;
  margin-bottom: 34px;
}

.imgName .imgNameName h4 span {
  font-size: 18px;
}



.introduce {
  flex: 5 1 0;
  color: #e9e9e9;
  line-height: 30px;
  padding: 0px 50px;
  overflow: scroll;
}

.introduce::-webkit-scrollbar {
  display: none;
}

.messageSend {
  display: flex;
  position: relative;
  flex: 2 1 0;
  justify-content: center;
  align-items: center;
}

.messageSend .forShadow::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, black 20%, transparent);
}

.messageSend .forShadow button {
  width: 260px;
  height: 70px;
  font-size: 25px;
  font-weight: 600;
  color: #eeeeee;
  background: none;
  border: 3px solid #00FF66;
  border-radius: 35px;
}



.cancelChat {
  position: absolute;
  top: 10px;
  right: 30px;
  padding: 10px;
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
  color: #00FF66;
}


/* 로딩화면 */

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 9999;
}

.loading .barBg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 8px;
  border-radius: 4px;
  background: rgb(150, 150, 150, .5);
}



.loading .barBg p {
  position: absolute;
  color: #e9e9e9;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
}

.loading .barBg .chaOne{
  position: absolute;
  left: -20px;
  bottom: 20px;
  background: #0011ff;
  translate: 250px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  animation: chaUp 2s linear
}

@keyframes chaUp {
  0%{
    translate: 0px;
  }
  20%{
    translate: 20px;
  }
  40%{
    translate: 100px;
  }
  70%{
    translate: 120px;
  }
  80%{
    translate: 170px;
  }
  92%{
    translate: 200px;
  }
  100%{
    translate: 250px;
  }
}


.loading .barBg .chaTwo{
  position: absolute;
  bottom: 20px;
  right: -20px;
  background: #ff00c8;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.loading .barBg .barGauge {
  position: absolute;
  top: 0;
  background: #00FF66;
  width: 300px;
  height: 8px;
  border-radius: 4px;
  animation: gaugeUp 2s linear
}

@keyframes gaugeUp {
  0%{
    width: 8px;
  }
  20%{
    width: 20px;
  }
  40%{
    width: 100px;
  }
  70%{
    width: 120px;
  }
  80%{
    width: 170px;
  }
  92%{
    width: 200px;
  }
  100%{
    width: 300px;
  }
}